# Environment variables
.env
.env.*
!.env.example

# Build outputs & Executables
*.exe
main.exe
dist/
dist-ssr/

# Node modules & dependencies
node_modules/

# Logs & OS / IDE files
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
